<div class="backdrop"></div>
<div class="alert-box">
    <form style="width:100%;" [formGroup]="loginForm">
        <h3>Bejelentkezés</h3>
        <input type="text" formControlName="email" class="form-control" placeholder="Email" aria-label="Email"
            aria-describedby="basic-addon1">
        <span *ngIf="isValid('email')">Üres email mező</span>
        <input type="password" formControlName="password" class="form-control" placeholder="Jelszó" aria-label="Password"
            aria-describedby="basic-addon1">
        <span *ngIf="isValid('password')">Üres jelszó mező</span>
        <div class="alert-box-actions">
            <button class="btn btn-warning" (click)="goLogin()">Bejelentkezés</button>
            <button class="btn btn-warning" (click)="close()">Kilépés</button>
        </div>
    </form>
</div>